<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="post">
    <br>
      <label>insert the word</label>
      <input type="text" name="word">
      <input type="submit" value="Submit">
    </form>
    <h2><%=anagrams%></h2>
  </body>
</html>
